{% extends '_layout_login.html.twig' %}

{% block content %}
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>Login Form</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-bottom">
                            {% if error %}
                                <div class="alert alert-danger">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}
                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                                <div class="form-group">
                                    <label class="control-label">{{ 'security.login.username'|trans }}</label>
                                    <input type="text" class="form-control" id="username" name="_username"
                                           value="{{ last_username }}" required="required"
                                           placeholder="{{ 'security.login.username'|trans }}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">{{ 'security.login.password'|trans }}</label>
                                    <input type="password" class="form-control" id="password" name="_password"
                                           required="required" placeholder="{{ 'security.login.password'|trans }}">
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" name="_remember_me"
                                                  id="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary uppercase" type="submit">{{ 'security.login.submit'|trans }}</button>
                                </div>
                                <a class="underline" href="{{ path('fos_user_registration_register') }}">{{ 'registration.submit'|trans
                                    }}</a></br>
                                <a class="underline" href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.loose'|trans
                                    }}</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 social-login">
                        <h3>...or login with:</h3>
                        <div class="social-login-buttons">
                            <a class="btn btn-link-2" href="#">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a class="btn btn-link-2" href="#">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                            <a class="btn btn-link-2" href="#">
                                <i class="fa fa-google-plus"></i> Google Plus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
