{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ error.message }}
            </div>
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}

{% block vich_file_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_file_widget %}
    {% spaceless %}
        <div class="vich-file">
            {{ form_widget(form.file) }}
            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}

            {% if download_uri is defined and download_uri %}
                <a href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block vich_image_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_image_widget %}
    {% spaceless %}
        <div class="vich-image">
            {{ form_widget(form.file) }}
            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}

            {% if download_uri is defined and download_uri %}
                <a href="{{ download_uri|imagine_filter('small') }}"><img src="{{ download_uri|imagine_filter('small') }}" alt="" /></a>
            {% endif %}
            {% if show_download_link and download_uri is defined and download_uri%}
                <a href="{{ download_uri|imagine_filter('small') }}">{{ 'download'|trans({},
                    'VichUploaderBundle') }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
